$logo-blue:       #0078FF;
$logo-text:       #0E0F21;
$footer-bg:       #0E0F21;
$text-gray:       #6E6F7A;
$button-blue:     #2A4BFF;
$button-active:   #5c73f5;
$line-gray:       #979CAA;
$blog-gray:       #E5E5E5;
