$logo-blue: #0078ff;
$logo-text: #0e0f21;
$footer-bg: #0e0f21;
$text-gray: #6e6f7a;
$button-blue: #2a4bff;
$button-active: #5c73f5;
$line-gray: #979caa;
$blog-gray: #e5e5e5;
$orange: #ff5500;
$orange-active: #ff550094;
$green: #7bc178;
$green-active: #7bc178a9;
