@import "_variables.scss";

@font-face {
    font-family: Roboto;
    src: url(/fonts/OpenSans-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Inter-UI;
    src: url(/fonts/Inter-Regular.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Inter-UI;
    src: url(/fonts/Inter-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Inter-UI;
    src: url(/fonts/Inter-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Inter-UI;
    src: url(/fonts/Inter-MediumItalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

h1, h2 {
    padding: 0;
    margin: 0;
}
    
header {
    height: 54px;
    padding-left: 212px;
    padding-right: 212px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    font-family: Inter-UI, sans-serif;
    font-weight: 600;
    font-size: 12px;
}

li {
    display: inline-block;
    padding: 25px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    padding-left: 8px;
}
   
.logo-icon {
    width: 24px;
    height: 24px;
    float: left;
    border: 8px solid $logo-blue;
    border-radius: 50%;
    z-index: 100;
    margin: 0;
}

.logo-name {
    font-family: Roboto, sans-serif;
    text-decoration: none;
    color: $logo-text;
    padding-left: 5px;
    bottom: 0;
    width:71px;
    float: left;
    font-size: 14px;
    z-index: 100;
}

nav {
    z-index: 100;
}

footer {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 212px;
    padding-right: 212px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: $footer-bg;
}

.footer-logo {
    display: flex;
    justify-items: center;
    justify-content: start;
}

.footer-logo-icon {
    width: 54px;
    height: 54px;
    float: left;
    border: 8px solid $logo-blue;
    border-radius: 50%;
    z-index: 100;
    margin: 0;
}

a {
    font-family: Inter-UI, sans-serif;
    text-decoration: none;
}

.link {
    color: #FFFFFF;
}

.footer-logo-name {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    padding-left: 20px;
    bottom: 0;
    width:130px;
    height: 54px;
    float: left;
    font-size: 24px;
}

.icon {
    width: 16px;
    height: 16px;
}

ul {
    padding: 0;
    margin: 0;
}
